node_modules
.DS_Store
dist
.env
.env.*
coverage
*.log

# Anchor / Rust / Solana
contracts/Cargo.lock
contracts/programs/**/Cargo.lock
contracts/target
contracts/.anchor
contracts/programs/**/target
contracts/programs/**/.anchor

# OS
Thumbs.db
